@use "sass:list";
@use "sass:math";

html {
    background-color: #000;
    color: #fff;
    font-size: 3vh;
    text-align: center;

    min-height: 150vh;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li:hover {
        color: red;
    }
}

a {
    text-decoration: none;

    &:visited {
        text-decoration: none;
        color: inherit;
    }
    
    &:hover {
        text-decoration: none;
        color: red;
    }
    
    &:focus {
        text-decoration: none;
    }
}

.draggable {
    overflow: hidden;
}

$keys: (
    "IMG_8843-min",
    "IMG_8845-min",
    "IMG_8849-min",
    "IMG_8851-min",
    "IMG_8853-min",
);

@mixin image() {
    position: absolute;
    z-index: 9;
    user-select: none;
    cursor: move;
    
    border: 5px solid red;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: red;

    $width: 35vh;
    $height: 50vh;
    min-width: $width;
    min-height: $height;
    max-width: $width + 10vh;
    max-height: $height + 10vh;
}

@mixin images() {

    @for $i from 1 through list.length($keys) {
        #image-#{$i} {
            @include image();
            @include randomize($i);
        }
    }
}

@mixin randomize($key) {

    $rand: random(3);
    
    @if ($key % 2) != 0 {
        $top: (random(40) + 30);
        $left: (random(150) + 2);
        top: $top * 1vh;
        left: $left * 1vh;

        @if ($left > 200 and $rand == 1) {
            left: ($left * 1vh) - 200vh;
        } @else if ($left > 200) {
            left: ($left * 1vh) - 150vh;
        } @else {
            left: $left;
        }

        @if ($top > 50) {
            top:  ($top * 1vh) - 30vh;
        } @else {
            top: $top * 1vh;
        }

    } @else if ($key % 2) == 0 {
        $top: (random(40) + 50);
        $left: (random(100) + 30);
        top: $top * 1vh;
        left: $left * 1vh;

        @if ($left > 200 and $rand == 1) {
            left: ($left * 1vh) - 200vh;
        } @else {
            left: $left * 1vh;
        }
        
    }
}

@include images();

@media (min-width: 1200px) {

    @for $i from 1 through list.length($keys) {
        #image-#{$i} {
            background-image: url("/assets/content/#{list.nth($keys, $i)}.jpg");
        }
    }
}